.App {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.logo {
  font-size: 3rem;
  pointer-events: none;
  font-weight: 700;
}

header {
  padding: 1.875rem;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

blockquote {
  font-size: 2rem;
  max-width: 45vmax;
  font-weight: 500;
}

blockquote > footer {
  display: inline;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
}

.button {
  display: flex;
  height: 48px;
  min-width: 130px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #353c43;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #f2f5f8;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(53, 60, 67, 0.8);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #282c34;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #282c34 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
